* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #125;
    color: white;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}

section {
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #125;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #125;
}


/* Diseño de tablas */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #125;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f2f2f2;
}

#pokemon img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* Diseño responsivo */

@media (max-width: 600px) {

    main {
        padding: 15px;
    }

    table {
        font-size: 14px;
    }

}